{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<h1 class="article-h1">OMG Experiments!!!!</h1>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<div>
		{% for experiment in experiments %}
			<h2><a href="{{experiment.link}}">{{experiment.post_title}}</a></h2>
			<p>
			<span>{{experiment.post_excerpt}}</span>
		{% endfor %}
		</div>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}
